<html lang="en">
  <head>
    <title>Callback</title>
  </head>
  <body>
    <main>
      <div>
        <p>This is the hvs config page for vercel config id <pre>{{ .ConfigurationID }}</pre></p>
      </div>
    </main>
  </body>
</html>